<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FamilyFinance2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FamilyFinance2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FamilyFinance2.Properties.Settings.FFDBConnectionString"
            connectionString="Data Source=|DataDirectory|\FamilyFinanceDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <userSettings>
        <FamilyFinance2.Properties.Settings>
            <setting name="DataDirectory" serializeAs="String">
                <value>.</value>
            </setting>
        </FamilyFinance2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FamilyFinance2.Properties.Settings>
            <setting name="DBFileName" serializeAs="String">
                <value>FamilyFinanceDB.sdf</value>
            </setting>
        </FamilyFinance2.Properties.Settings>
    </applicationSettings>
</configuration>